
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');
.navigation{
    text-align: center;	
}nav{

    background-color:bisque;
}hr{
    height: 1.5px;
    background-color:black;
}body{


    background-color:honeydew;
}
.bottom{

    
    bottom: 0;
}.Title{

    font-family: poppins;
}.Subtitle{

    font-family: poppins;
}p{


    font-family: Arial, Helvetica, sans-serif;
}.buttons{

    background-color:Lightgrey;
    
}
